.DS_Store
.idea
*.log
*.pyc
tmp/
*.swp
__pycache__/
node_modules/
dist/
android/

config/**/*
!config/.gitkeep
!config/docker-compose.override.yml
!config/overleaf.rc
!config/variables.env.example
!config/tex-packages-installed.txt
!config/nginx/
config/nginx/*
!config/nginx/nginx.conf
config/nginx/overleaf.htpasswd
config/nginx/certs/

data/**/*
!data/.gitkeep
!data/overleaf-patches/
!data/overleaf-patches/**

desktop-app/node_modules/
desktop-app/dist/
mobile-app/node_modules/
mobile-app/android/
