OVERLEAF_APP_NAME="EvoLeaf"

ENABLED_LINKED_FILE_TYPES=project_file,project_output_file
ENABLE_CONVERSIONS=true
EMAIL_CONFIRMATION_DISABLED=true
OVERLEAF_ALLOW_PUBLIC_ACCESS=true

OVERLEAF_SITE_URL=https://evo-leaf.com
OVERLEAF_NAV_TITLE=EvoLeaf
# OVERLEAF_HEADER_IMAGE_URL=http://somewhere.com/mylogo.png
# OVERLEAF_ADMIN_EMAIL=support@example.com

OVERLEAF_EMAIL_FROM_ADDRESS=noreply@evo-leaf.com
OVERLEAF_EMAIL_SMTP_HOST=smtp-relay.brevo.com
OVERLEAF_EMAIL_SMTP_PORT=587
OVERLEAF_EMAIL_SMTP_SECURE=false
OVERLEAF_EMAIL_SMTP_USER=YOUR_BREVO_SMTP_USER
OVERLEAF_EMAIL_SMTP_PASS=YOUR_BREVO_SMTP_KEY
OVERLEAF_EMAIL_SMTP_NAME=EvoLeaf
OVERLEAF_EMAIL_SMTP_TLS_REJECT_UNAUTH=true
OVERLEAF_EMAIL_SMTP_IGNORE_TLS=false

EXTERNAL_AUTH=none
